*{

    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{

    display: flex;
    justify-content: space-between;
    padding: 0 100px;
    align-items: center;
}
header .ul1 .li1, a{

    list-style: none;
    display: inline-block;
    margin: 0 40px;
    text-decoration: none;
    color: black;

}
header .ul1 .li2{

    display: inline-block;
    position: relative;
    margin: 0 40px;
    
}
header .ul1 .li2 .ul2{

    position: absolute;
    width: 60px;
    list-style: none;
    display: none;
   
}
header .ul1 .li2 .ul2 .li3, a{

 text-decoration: none;
    color: black;
    margin: 10px 0;
       
}
header .ul1 .li2:hover .ul2{
   
    display: block;

}
header .ul1 .li2 .ul2 .li3:hover, a:hover{

    background-color: blue;
    color: white;
    
}
